.btnfirstyear{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#btnsubject{
    margin: 1em 2em;
    height: 5em;
    width: 80vw;
    font-size: larger;
    
}

@media screen and (max-width:600px) {
    
}